@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&family=Roboto:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  background-color: #323F3F;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;

}
h1{
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  font-size: calc(1em + 1vw);
  color: white;
}
.a-link{
  cursor: pointer;
  color: #aaf0d1;
  text-decoration: none;
  display: inline;
  position: relative;
  overflow: hidden;
}
.a-link:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #aaf0d1;
  height: 2px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.a-link:hover:after, .a-link:focus:after, .a-link:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.cta-button{
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #aaf0d1;
  border-radius: 0.5em;
  color: white;
  transition: all 0.2s ease-in;
}

.cta-button:hover{
  background-color: #aaf0d1;
  color: black;
}
